body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  padding: 0;
  margin: 0;
}

a, a:visited, a:active {
  color: initial;
}

#stage {
  padding: 1em;
  height: 100vh;
  box-sizing: border-box;
}

.button {
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em;
  color: #eee;
  background-color: #236499;
  font-size: inherit;
  cursor: pointer;
}

  .button:hover {
  }

.auth {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
}

  .auth__input {
    font-size: inherit;
    text-align: center;
  }

  .auth__submit {
    font-size: inherit;
  }

  .auth__error {
    color: #990000;
    font-size: 0.5em;
  }

.upload-collection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  font-size: 2em;
}

  .options__upload {
  }

.upload-tile {
  width: 250px;
  max-height: 250px;
  margin: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.upload-tile__preview {
  max-width: 100%;
  max-height: 250px;
}

.upload-tile__video {
  font-size: 2em;
  letter-spacing: 2px;
}

.upload-tile__uploader {
  font-size: 0.85em;
  color: #777;
}

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

  .uploader__back {
    font-size: 1.5em;
    margin: 10px;
  }

  .uploader__name-label {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .uploader__name-input {
    text-align: center;
  }

  .uploader__form {
    margin: 10px;
    flex-grow: 1;
  }
