body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  padding: 0;
  margin: 0;
}

a, a:visited, a:active {
  color: inherit;
}

#stage {
  height: 100vh;
  overflow: hidden;
}

.button {
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em;
  color: #eee;
  background-color: #236499;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
}

  .button:disabled {
    background-color: #ccc;
  }

.auth {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
}

  .auth__input {
    font-size: inherit;
    text-align: center;
  }

  .auth__submit {
    font-size: inherit;
  }

  .auth__error {
    color: #990000;
    font-size: 0.5em;
  }

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.options {
  font-size: 2em;
  margin: 0.5em;
}

.upload-collection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-y: auto;
}

.upload-tile {
  width: 250px;
  max-height: 250px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

  .upload-tile__preview {
    max-width: 100%;
    max-height: 250px;
  }

  .upload-tile__video {
    font-size: 2em;
    letter-spacing: 2px;
  }

  .upload-tile__uploader {
    font-size: 0.85em;
    color: #777;
  }

.gallery {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,.85);
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

  .gallery__controls {
    flex: 0 0 1em;
    padding: 1em;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .gallery__display {
    flex: 1 1;
    display: flex;
    flex-direction: row;
  }

  .gallery__button {
    background: none;
    color: #fff;
    border: none;
    font-size: 3em;
    cursor: pointer;
    font-weight: bold;
    outline: none;
  }

    .gallery__button:disabled {
      color: #666;
      cursor: default;
    }

  .gallery__prev, .gallery__next {
    flex: 1;
  }

  .gallery__upload {
    flex: 8;

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }

.gallery-upload {
  flex: 1;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .gallery-upload__link {
    flex: 1;

    display: flex;
  }

  .gallery-upload__image {
    flex: 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .gallery-upload__video {
    flex: 1;
    font-size: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-upload__uploader {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 1em;
  }

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

  .uploader__back {
    font-size: 1.5em;
    margin: 10px;
  }

  .uploader__name-label {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .uploader__name-input {
    text-align: center;
  }

  .uploader__form {
    margin: 10px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }

  .uploader__file-label {
    flex-grow: 1;
    cursor: pointer;
    width: 75vw;
    border: 3px dashed;
    border-radius: 1em;
    margin: 0.25em;
    padding: 1em;
    font-size: 2em;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .uploader__file-label--dropping {
    border: 3px dashed #a0a0a0;
    color: #a0a0a0;
  }

  .uploader__file-input {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -100;
    overflow: hidden;
  }

  .uploader__submit {
    font-size: 2em;
    margin: 0.25em;
    background-color: #22dd66;
  }
