body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  padding: 0;
  margin: 0;
}

a, a:visited, a:active {
  color: initial;
}

#stage {
  height: 100vh;
  overflow: hidden;
}

.button {
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em;
  color: #eee;
  background-color: #236499;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
}

  .button:disabled {
    background-color: #ccc;
  }

.auth {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
}

  .auth__input {
    font-size: inherit;
    text-align: center;
  }

  .auth__submit {
    font-size: inherit;
  }

  .auth__error {
    color: #990000;
    font-size: 0.5em;
  }

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.options {
  font-size: 2em;
  margin: 0.5em;
}

.upload-collection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.upload-tile {
  width: 250px;
  max-height: 250px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.upload-tile__preview {
  max-width: 100%;
  max-height: 250px;
}

.upload-tile__video {
  font-size: 2em;
  letter-spacing: 2px;
}

.upload-tile__uploader {
  font-size: 0.85em;
  color: #777;
}

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

  .uploader__back {
    font-size: 1.5em;
    margin: 10px;
  }

  .uploader__name-label {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .uploader__name-input {
    text-align: center;
  }

  .uploader__form {
    margin: 10px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }

  .uploader__file-label {
    flex-grow: 1;
    cursor: pointer;
    width: 75vw;
    border: 3px dashed;
    border-radius: 1em;
    margin: 0.25em;
    padding: 1em;
    font-size: 2em;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .uploader__file-label--dropping {
    border: 3px dashed #a0a0a0;
    color: #a0a0a0;
  }

  .uploader__file-input {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -100;
    overflow: hidden;
  }

  .uploader__submit {
    font-size: 2em;
    margin: 0.25em;
    background-color: #22dd66;
  }
